@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Sriracha&display=swap');

:root{
    --fonte0: 'Rubik Mono One', monospace;
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: font-family: 'Sriracha', cursive;
    
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1)
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps; /* maiusculas */
    font-family: var(--fonte1);
    font-size: 10vw; /* Se eu quiser fazer baseado na largura da tela, ela vai ser 10% da largura da tela, ele vai centralizando e aumentando ou diminuindo o site */
    
}

header p{
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;

}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /* 2 vezes o tamanho original, o padrão é 1em */ 
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 3.5vw;
    
}

section p{
    padding-bottom: 2em;
}

#textonormal{
background-color: white ;
color: black;
}

#textoimagem> p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.377);
    text-shadow: 1px 1px 0px black;
    
}

#textoimagem2> p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.377);
    text-shadow: 1px 1px 0px black;
    
}

#textoimagem{
    color: white;
    background-image:url("/DESAFIOS/011/imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    
}

#textoimagem2{
    background-image:url("/DESAFIOS/011/imagens/background002.jpg");
    background-position: right center;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    
}

footer{
    color: white;
    text-align:center;
    background-color: black;
    padding: 10px;
}
